h1,h2,h3,h4,h5{
  margin: 1em 0 .25em;
  font-family: Georgia, serif;
  font-weight: normal;
  color:#666;
}
ul,ol,p{margin: .25px 0 1em;}
body{
  margin: 0;
  font: 16px/1.5 Arial,sans-serif;
}
#page{margin: 12px;}