nav ul{margin: 0;}
nav li{
display: inline-block;
margin: 0; padding: 0;
list-style:none }
    nav li a{display:block;}

/* Layout */
.Page{
    width: 690px;
    margin: 0 auto;
    text-align:left;}
.Header{
    position:relative;
    padding: 18px 0 0;}

.Logo{
    padding: 0 0 2px;
    line-height: 1;
    display: inline;}
    .Logo a{color:#000;}

.MainNav{
    display: inline-block;
    margin-left: 20px;}
    .MainNav a{
        padding: 1px 20px;
        border: #fff solid 2px;
        text-align: center;
        text-decoration: none;
        font-size: 1.125em;
        font-family: Georgia;
        color: #666;}
    .MainNav a:hover{
        border-bottom-color:#000;
        color:#000 ;}
    .MainNav-item--index a{
        color: #000;
        border-bottom-color:#000;}
    .MainNav-item--github img {padding-bottom: 2px;}
    .MainNav-item img{ vertical-align: bottom; }

.SubHeading{
    margin: 0;
    font-style: italic;
    font-size: 1.125em;
    color: #888;
}


.Content{
  margin:0 0 1.5em; padding: 1px 0;
  border-top: 3px solid #000;}

.Portrait{
    float:right;
    margin: 0 0 12px 12px;
    width: 425px;}

/* modern grid system lol */
.grid {
    display: flex;
}

/* Size classes, guess I only need one right now */
.u-size-half {
    width: 50%;
}
