<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{{page.title}}</title>
  <link rel="SHORTCUT ICON" href="/favicon.ico"/>
  <link href="css/normalize.css" rel="stylesheet" />
  <link href="css/default.css" rel="stylesheet" />
  <link href="css/portfolio.css" rel="stylesheet" />
  <meta name="description" content="{{page.description}}"/>
  <meta name="updated" content="{{page.time}}" />
  <!--[if IE]>
    <script src="/js/html5.js"></script>
  <![endif]-->
  {% include telemetry.html %}
</head>
<body id="{{page.id}}">
  <div class="Page">
    <header class="Header">
      <h1 class="Logo"><a href="/">Jethro Larson</a></h1>
      <nav class="MainNav">
        <ul>
          <li class="MainNav-item" ><a href="/README.html">Readme</a></li>
          <li class="MainNav-item" ><a href="/resume.html">R&eacute;sum&eacute;</a></li>
          <li class="MainNav-item" ><a href="/blog" >Posts</a></li>
          <li class="MainNav-item" ><a href="https://www.linkedin.com/profile/view?id=13218061" >LinkedIn</a></li>
          <li class="MainNav-item MainNav-item--github" ><a href="http://github.com/jethrolarson"><img src="/images/github-mark-white.svg" alt="Github" height="24"/></a></li>
        </ul>
      </nav>
    </header>
    <div class="Content">
      <p class="SubHeading">{{page.subhead}}</p>
      {{content}}
    </div>
    <script src="/log.js"></script>
</body>
</html>
