<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{{page.title}}</title>
  <link href="css/portfolio.css" rel="stylesheet" />
  <meta name="description" content="{{page.description}}"/>
  <meda name="updated" content="{{page.time}}">
  <!--[if IE]>
    <script src="/js/html5.js"></script>
  <![endif]-->
</head>
<body id="{{page.id}}">
  <div id="page">
    <header id="header">
      <h1><a href="/">Jethro Larson</a></h1>
      <nav id="mainNav">
        <ul>
           <li id="tab_index">
            <a href='/index.html'>Home</a>
          </li>
          <li><a href="/resume.html">R&eacute;sum&eacute;</a></li>
          <li id="tab_projects">
            <a href='/projects.html'>Projects</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="body">
      <p class="note">{{page.subhead}}</p>
      <div id="content">
      {{content}}
      </div>
    </div>
    <footer id="footer">
      <div id="tweetWrap"> 
        <p id="tweet">
          <a href="https://twitter.com/jethrolarson">@jethrolarson</a>:<a class="avatar" href="https://twitter.com/jethrolarson"><img src="/images/avatar_bigger_bw.jpg" alt="twitter @jethrolarson"/></a>
          <span id="tweetContent">Sometimes the cost of JavaScript templates is that you can't put organic content in place on load.</span>
          <nobr><a rel='bookmark' href="#" id="tweetDate">some months ago</a></nobr>
        </p>
      </div>
      <h3>Jethro Elsewhere</h3>
      <ul>
        <li><a href="http://blog.jethrolarson.com">blog</a></li>
        <li><a href="http://github.com/jethrolarson">github</a></li>
        <li><a href="mailto:jethrolarson@gmail.com">jethrolarson@gmail.com</li>
      </ul>
    </footer>
  </div><!--/#page-->
  <script src="/js/jquery-1.4.2.min.js"></script>
  <script src="/js/full.js"></script>
</body>
</html>