<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title | default: site.title }}</title>
    {% include seo.html %}
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/posts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet" />
    {% include telemetry.html %}
  </head>
  <body>
    <div class="Page">
      {% include header.html %}
      <main>
        <article>
          <header>
            <h1 class="post-title">{{page.title}}</h1>
            <p class="post-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}"
                >{{ page.date | date: "%B %d, %Y" }}</time
              >
              {% if page.tags %} {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}/">#{{ tag }}</a
                >&nbsp; {% endfor %} {% endif %}
            </p>
          </header>
          <div class="post-content">{{ content }}</div>

          <nav class="post-navigation">
            {% if page.previous %}
            <a href="{{ page.previous.url }}"
              >← Previous: {{ page.previous.title }}</a
            >
            {% endif %} {% if page.next %}
            <a href="{{ page.next.url }}">Next: {{ page.next.title }} →</a>
            {% endif %}
          </nav>
        </article>
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
