<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{{page.title}}</title>
  <link href="/css/normalize.css" rel="stylesheet" />
  <link href="/css/default.css" rel="stylesheet" />
  <link href="/css/posts.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet" />
  {% include telemetry.html %}
</head>
<body>
  <div class="Page Page-simple">
    {{content}}
  </div>
  <script src="/log.js"></script>
</body>
</html>
